@model EpilepsySite.Web.Models.LoginModel
@{
    Layout = null;
}

@using (Html.BeginUmbracoForm("Login", "Security", FormMethod.Post, new { @class = "form-horizontal" }))
{
    <p>@Model.Message</p>
    <div class="form-group">
        <div class="col-sm-3">
            @Html.LabelFor(m => m.Username, "Email")
            @Html.TextBoxFor(m => m.Username, new { @class = "text", placeholder = "Email Address" })
        </div>
        </div>
    <div class="form-group">
        <div class="col-sm-3">
            @Html.LabelFor(m => m.Password, "Password")
            @Html.TextBoxFor(m => m.Password, new { @class = "text", placeholder = "Password", type = "Password" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-3">
            <input type="submit" value="submit" />
        </div>
    </div>
}
