@model EpilepsySite.Web.Models.ProfileModel
@{
    Layout = null;
}

<h1>@Model.UserType Profile</h1>

@using (Html.BeginUmbracoForm("UpdateProfile", "Profile", FormMethod.Post, new { @class = "form-horizontal" }))
{
    <div class="form-group">
        <div class="col-sm-3">
            @Html.LabelFor(m => m.FirstName, "First Name")
            @Html.TextBoxFor(m => m.FirstName, new { @class = "text", placeholder = "First Name" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-3">
            @Html.LabelFor(m => m.LastName, "Last Name")
            @Html.TextBoxFor(m => m.LastName, new { @class = "text", placeholder = "Last Name" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-3">
            @Html.LabelFor(m => m.EmailAddress, "Email")
            @Html.TextBoxFor(m => m.EmailAddress, new { @class = "text", placeholder = "Email Address" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-3">
            @Html.LabelFor(m => m.Password, "Password")
            @Html.TextBoxFor(m => m.Password, new { @class = "text", placeholder = "Password", type = "Password" })
        </div>
    </div>

    if (Model.UserType == "Patient")
    {
        <p>Connect with Guardians, add their email address here.</p>
        <div class="form-group">
            <div class="col-sm-3">
                @Html.LabelFor(m => m.NewConnections, "Guardian(s) email")
                @Html.TextBoxFor(m => m.NewConnections, new { @class = "text", placeholder = "Comma seperate emails" })
            </div>
        </div>
    }

    <h2>Pending Connections</h2>
    <ul>
        @foreach (IMember member in Model.PendingConnections)
        {
            <li>@member.Email</li>
        }
    </ul>
    <h2>Confirmed Connections</h2>
    <ul>
        @foreach (IMember member in Model.ConfirmedConnections)
        {
            <li>@member.Email</li>
        }
    </ul>
              
    <div class="form-group">
        <div class="col-sm-3">
            <input type="submit" value="submit" />
        </div>
    </div>

    @Html.HiddenFor(m => m.UserType);
    @Html.HiddenFor(m => m.UserId);
}
