@using EpilepsySite.Web.Objects;
@model EpilepsySite.Web.Models.ReportModel

@{
    Layout = null;
}

@if (Request.QueryString["showraw"] != "1")
{
    <script src="~/scripts/Chart.js"></script>


<h2>Heart Rate</h2>
<canvas id="heartRateChart" width="1024" height="400"></canvas>

<h2>Motion Detection</h2>
<canvas id="motionChart" width="1024" height="400"></canvas>

<script>
    // Get the context of the canvas element we want to select
    var ctx = document.getElementById("heartRateChart").getContext("2d");
    var ctx2 = document.getElementById("motionChart").getContext("2d");
    //var myNewChart = new Chart(ctx).PolarArea(data);
    Chart.defaults.global.responsive = true;
    var heartRateData = {
        labels: [
            @foreach (HeartRateItem item in Model.heartRateItems)
            {
                string label = string.Format("'{0}',", item.DateTime.ToString("hh:mm:ss"));
                @Html.Raw(label)
            }
        ],
        datasets: [
            {
                label: "Heart rate",
                fillColor: "rgba(220,220,220,0.2)",
                strokeColor: "rgba(220,220,220,1)",
                pointColor: "rgba(220,220,220,1)",
                pointStrokeColor: "#fff",
                pointHighlightFill: "#fff",
                pointHighlightStroke: "rgba(220,220,220,1)",
                data: [

                     @foreach (HeartRateItem item in Model.heartRateItems)
                        {
                            string data = string.Format("{0},", item.HeartRate);
                            @Html.Raw(data)

                        }

                ]
            }

        ]
    };


    var motionData = {
        labels: [
           @foreach (MotionSensorItem item in Model.motionSensorItems)
            {
                string label = string.Format("'{0}',", item.DateTime.ToString("hh:mm:ss"));
                @Html.Raw(label)
            }
        ],
        datasets: [

        {
            label: "X Value",
            fillColor: "rgba(120,120,120,0.2)",
            strokeColor: "rgba(120,120,120,1)",
            pointColor: "rgba(120,120,120,1)",
            pointStrokeColor: "#fff",
            pointHighlightFill: "#fff",
            pointHighlightStroke: "rgba(120,120,120,1)",
            data: [

                @foreach (MotionSensorItem item in Model.motionSensorItems)
                {
                    string data = string.Format("{0},", item.XValue);
                    @Html.Raw(data)

                }

            ]
        },

        {
            label: "Y Value",
            fillColor: "rgba(160,160,160,0.2)",
            strokeColor: "rgba(160,160,160,1)",
            pointColor: "rgba(160,160,160,1)",
            pointStrokeColor: "#fff",
            pointHighlightFill: "#fff",
            pointHighlightStroke: "rgba(160,160,160,1)",
            data: [
                @foreach (MotionSensorItem item in Model.motionSensorItems)
                {
                    string data = string.Format("{0},", item.YValue);
                    @Html.Raw(data)
                }

            ]
        },

        {
            label: "Z Value",
            fillColor: "rgba(200,120,120,0.2)",
            strokeColor: "rgba(200,120,120,1)",
            pointColor: "rgba(200,120,120,1)",
            pointStrokeColor: "#fff",
            pointHighlightFill: "#fff",
            pointHighlightStroke: "rgba(200,120,120,1)",
            data: [

                 @foreach (MotionSensorItem item in Model.motionSensorItems)
        {
                    string data = string.Format("{0},", item.ZValue);
                            @Html.Raw(data)

}

            ]
        }

        ]
    };





    var myLineChart = new Chart(ctx).Line(heartRateData);
    var myLineChart2 = new Chart(ctx2).Line(motionData);


</script>
}
else
{
    <link href="~/css/jquery.dataTables.css" rel="stylesheet" type="text/css" />

    <script src="~/scripts/jquery.dataTables.js"></script>
    <div class="panel panel-default" >
        <!-- Default panel contents -->
        <div class="panel-heading">HeartRate</div>
        <div class="panel-body">
            <p>Raw heart rate data</p>
        </div>
        <!-- Table -->
        <table class="table" id="heartratetable">
            <thead>
                <tr>
                    <td>UserId</td>
                    <td>Time Stamp</td>
                    <td>Heart Rate</td>
                </tr>
            </thead>
            <tbody>
                @foreach (HeartRateItem item in Model.heartRateItems)
                {
                    <tr>
                        <td>@item.UserId</td>
                        <td>@item.DateTime</td>
                        <td>@item.HeartRate</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>


    <div class="panel panel-default" >
        <!-- Default panel contents -->
        <div class="panel-heading">Motion Sensor data</div>
        <div class="panel-body">
            <p>Raw motion sensor data</p>
        </div>
       
        <table class="table" id="motiontable">
            <thead>
                <tr>
                    <td>UserId</td>
                    <td>Time Stamp</td>
                    <td>X Value</td>
                    <td>Y Value</td>
                    <td>Z Value</td>
                    <td>Gravity</td>
                </tr>
            </thead>
            <tbody>
                @foreach (MotionSensorItem item in Model.motionSensorItems)
                {
                    <tr>
                        <td>@item.UserId</td>
                        <td>@item.DateTime</td>
                        <td>@item.XValue</td>
                        <td>@item.YValue</td>
                        <td>@item.ZValue</td>
                        <td>@item.Gravity</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    
    <script>
        $(document).ready(function () {
            $('#motiontable').DataTable();
            $('#heartratetable').DataTable();
            
        });
    </script>
}
