@using EpilepsySite.Web.Objects;
@model EpilepsySite.Web.Models.ReportModel

@{
    Layout = null;
}

@if (Request.QueryString["showraw"] != "1")
{

    <h2>Heart Rate</h2>
    <canvas id="heartRateChart" width="1024" height="400"></canvas>

    <h2>Motion Detection</h2>
    <canvas id="motionChart" width="1024" height="400"></canvas>
    
}
else
{
   
    <div class="panel panel-default" >
        <!-- Default panel contents -->
        <div class="panel-heading">HeartRate</div>
        <div class="panel-body">
            <p>Raw heart rate data</p>
        </div>
        <!-- Table -->
        <table class="table" id="heartratetable">
            <thead>
                <tr>
                    <td>UserId</td>
                    <td>Time Stamp</td>
                    <td>Heart Rate</td>
                </tr>
            </thead>
            <tbody>
                @foreach (HeartRateItem item in Model.heartRateItems)
                {
                    <tr>
                        <td>@item.UserId</td>
                        <td>@item.DateTime</td>
                        <td>@item.HeartRate</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>


    <div class="panel panel-default" >
        <!-- Default panel contents -->
        <div class="panel-heading">Motion Sensor data</div>
        <div class="panel-body">
            <p>Raw motion sensor data</p>
        </div>
       
        <table class="table" id="motiontable">
            <thead>
                <tr>
                    <td>UserId</td>
                    <td>Time Stamp</td>
                    <td>X Value</td>
                    <td>Y Value</td>
                    <td>Z Value</td>
                    <td>Gravity</td>
                </tr>
            </thead>
            <tbody>
                @foreach (MotionSensorItem item in Model.motionSensorItems)
                {
                    <tr>
                        <td>@item.UserId</td>
                        <td>@item.DateTime</td>
                        <td>@item.XValue</td>
                        <td>@item.YValue</td>
                        <td>@item.ZValue</td>
                        <td>@item.Gravity</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}