@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
    <title></title>
    
    <link rel="stylesheet" href="/css/EpilexyTheme.css" type="text/css" />
    <link rel="stylesheet" href="@Url.Content("/css/EpilexyTheme/css/font-awesome.min.css")" type="text/css" />

    <script type="text/javascript">
        if (typeof jQuery == 'undefined') { document.write('<script type="text/javascript" src="@Url.Content("~/scripts/EpilexyTheme/js/jquery.min.js")"><' + '/script>'); }
        var style_mobile_path = "@Url.Content("~/css/EpilexyTheme/css/")";
    </script>

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    
    <!--[if lt IE 9]>
      <script src="@Url.Content("~/scripts/EpilexyTheme/js/html5shiv.min.js")"></script>
      <script src="@Url.Content("~/scripts/EpilexyTheme/js/respond.min.js")"></script>
    <![endif]-->
    
    <script type="text/javascript" src="@Url.Content("~/scripts/EpilexyTheme/js/bootstrap.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/scripts/EpilexyTheme/js/BindMENU.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/scripts/EpilexyTheme/js/fix-responsive-WP8.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/scripts/EpilexyTheme/js/initilizations.js")"></script>

    @RenderSection("Scripts", required: false)

</head>
<body>
    <script type="text/javascript">
        var nVer = navigator.appVersion; var nAgt = navigator.userAgent; var bN = navigator.appName; var fullV = "" + parseFloat(navigator.appVersion); var majorV = parseInt(navigator.appVersion, 10); var nameOffset, verOffset, ix; if ((verOffset = nAgt.indexOf("Opera")) !== -1) { bN = "Opera"; fullV = nAgt.substring(verOffset + 6); if ((verOffset = nAgt.indexOf("Version")) !== -1) { fullV = nAgt.substring(verOffset + 8) } } else { if ((verOffset = nAgt.indexOf("MSIE")) !== -1) { bN = "IE"; fullV = nAgt.substring(verOffset + 5) } else { if ((verOffset = nAgt.indexOf("Chrome")) !== -1) { bN = "Chrome"; fullV = nAgt.substring(verOffset + 7) } else { if ((verOffset = nAgt.indexOf("Safari")) !== -1) { bN = "Safari"; fullV = nAgt.substring(verOffset + 7); if ((verOffset = nAgt.indexOf("Version")) !== -1) { fullV = nAgt.substring(verOffset + 8) } } else { if ((verOffset = nAgt.indexOf("Firefox")) !== -1) { bN = "Firefox"; fullV = nAgt.substring(verOffset + 8) } else { if ((nameOffset = nAgt.lastIndexOf(" ") + 1) < (verOffset = nAgt.lastIndexOf("/"))) { bN = nAgt.substring(nameOffset, verOffset); fullV = nAgt.substring(verOffset + 1); if (bN.toLowerCase() == bN.toUpperCase()) { bN = navigator.appName } } } } } } } if ((ix = fullV.indexOf(";")) !== -1) { fullV = fullV.substring(0, ix) } if ((ix = fullV.indexOf(" ")) !== -1) { fullV = fullV.substring(0, ix) } majorV = parseInt("" + fullV, 10); if (isNaN(majorV)) { fullV = "" + parseFloat(navigator.appVersion); majorV = parseInt(navigator.appVersion, 10) }
        document.getElementsByTagName("body")[0].className += " " + bN + " " + bN + majorV + " cmsUMB cmsUMB7 BT-pk";
    </script>

    <header class="navbar navbar-static-top" role="banner">
        <div class="container">
            <div class="navbar-header">
                <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse"><i class="fa fa-bars"></i></button>
            </div>
            <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
                <div id="MenuH">
                    @{ Html.RenderPartial("BindNavigation"); }
                    <script type="text/javascript">
                        (function ($) {
                            $("#MenuH .menu").BindMENU({ MenuStyle: "DefaultMenu", Orientation: "Horizontal" });
                        })(jQuery);
                    </script>
                </div>
                <div id="Search" class="hidden-xs">
                    <div class="btn" data-toggle="button"></div>
                    <div id="SearchBar">
                        <div class="searchBox">
                            <input type="text" maxlength="1000">
                            <input type="submit">
                        </div>
                    </div>
                </div>
            </nav>
        </div>
    </header>

    <div id="bt-pagetitle">
        <div class="container">
            @RenderSection("PageTitleZone", false)
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-9" id="bt-content" role="main">
                <div class="row">
                    <div class="col-md-12">@RenderBody()</div>
                </div>
                <div class="row">
                    <div class="col-md-7">@RenderSection("L1_Zone60", false)</div>
                    <div class="col-md-5">@RenderSection("L1_Zone40", false)</div>
                </div>
                <div class="row">
                    <div class="col-md-8">@RenderSection("L2_Zone70", false)</div>
                    <div class="col-md-4">@RenderSection("L2_Zone30", false)</div>
                </div>
                <div class="row">
                    <div class="col-md-6">@RenderSection("L3_Zone50_1", false)</div>
                    <div class="col-md-6">@RenderSection("L3_Zone50_2", false)</div>
                </div>
                <div class="row">
                    <div class="col-md-12">@RenderSection("L4_Zone100", false)</div>
                </div>
                <div class="row">
                    <div class="col-md-7">@RenderSection("L5_Zone40", false)</div>
                    <div class="col-md-5">@RenderSection("L5_Zone60", false)</div>
                </div>
                <div class="row">
                    <div class="col-md-4">@RenderSection("L6_Zone30", false)</div>
                    <div class="col-md-8">@RenderSection("L6_Zone70", false)</div>
                </div>
                <div class="row">
                    <div class="col-md-3">@RenderSection("L7_Zone30_1", false)</div>
                    <div class="col-md-6">@RenderSection("L7_Zone40_2", false)</div>
                    <div class="col-md-3">@RenderSection("L7_Zone30_3", false)</div>
                </div>
                <div class="row">
                    <div class="col-md-12">@RenderSection("L8_Zone100", false)</div>
                </div>
                <div class="row">
                    <div class="col-md-4">@RenderSection("L9_Zone33_1", false)</div>
                    <div class="col-md-4">@RenderSection("L9_Zone34_2", false)</div>
                    <div class="col-md-4">@RenderSection("L9_Zone33_3", false)</div>
                </div>
            </div>
            <div class="col-md-3" id="bt-sidebar">
                <div class="visible-xs visible-sm"><hr></div>
                <div id="MenuV">
                    @{ Html.RenderPartial("BindNavigation"); }
                <script type="text/javascript">
                    (function ($) {
                        $("#MenuV .menu").BindMENU({ MenuStyle: "DefaultMenu", Orientation: "Vertical" });
                    })(jQuery);
                </script>
            </div>
            @RenderSection("SidebarZone", false)
        </div>
    </div>
</div>

<footer class="bs-footer" role="contentinfo">
    <div class="container">
        <div id="bt-footer">@RenderSection("FooterZone", false)</div>
        <div class="footer-links">
            <span id="Copyright"><span class="Copyright">&copy;Copyright&nbsp;@DateTime.Now.Year. All rights reserved.</span></span>
        </div>
    </div>
</footer>

<script type="text/javascript">
    (function ($) {
        $(document).ready(function () {
            if (typeof g_disableCheckoutInEditMode != 'undefined' && !g_disableCheckoutInEditMode) {
                $('.MoveToTitleZone').appendTo('#bt-pagetitle>.container');
            }
        });
    })(jQuery);
</script>
</body>
</html>
